.profile {
    width: 1000px;
  
    display: flex;
    flex-direction: column;

    padding-top: 15px;
    width: 370px;
    box-shadow: 0 0 10px #FCFCFC;
    border-radius: 10px;
    margin: auto
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
    border-bottom: #FCFCFC solid 2px;
}

.avatar {
    width: 300px;
    box-shadow: 0 0 3px 0px #FCFCFC;
    border-radius: 50%;
    background-color: #F6F930;
    padding: 20px 10px 0px 10px;
    margin-bottom: 15px;
}

.name {
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 15px;
    color: #2F2F2F;
}

.tag {
    font-weight: 500;
    font-size: 20px;
    color: #2F2F2F;
    margin-bottom: 15px;
}

.location {
    font-weight: 700;
    font-size: 20px;
    color: #2F2F2F;
    margin-bottom: 15px;
}

.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
    padding: 0;
    width: inherit;
    background-color: #D2F898;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.stats>li {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    min-width: 80px;
    padding: 7px 0;
}

.label {
    margin-right: 3px;
    font-weight: 700;
    font-size: 20px;
    color: #2F2F2F;
    margin-bottom: 5px;
}

.quantity {
    font-weight: 800;
    font-size: 20px;
    color: #2F2F2F;
}